@using static ASI.Basecode.Resources.Views.Screen


        <div class="top-border"></div>
        <div class="row align-items-center">
            <div class="col-md-4 text-start footer-left-section">
                <h5 class="contact-us-heading">Contact Us</h5>
                <div class="social-icons-container">
                    <a href="#" class="social-icon-circle"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-icon-circle"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon-circle"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon-circle"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon-circle"><i class="fas fa-rss"></i></a>
                </div>
            </div>

            <div class="col-md-4 text-center footer-middle-section">
                <span class="product-of-text">A product of</span>
                <img src="~/img/bb_logo_white.png" alt="Basebuzz Logo" class="product-logo" />
            </div>

            <div class="col-md-4 text-end footer-right-section">
                <span class="copyright-text">@Copyright</span>
            </div>
        </div>
