@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<style>
    header {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 60px; 
        background-color: #ffffff; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 100; 
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        padding: 0 20px; 
        box-sizing: border-box;
    }
</style>
<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="logosec hover-pointer">
        <img src="~/img/asi-logo-invert.svg"
             style="width: 185px;" alt="logo"
             onclick="window.location.href = '@Url.Action("Index", "Home")';">
    </div>
    <div class="logosec">
        @HttpContextAccessor.HttpContext.Session.GetString("UserName")
        <div class="mr-20 hover-pointer" style="position: relative">
            <div class="dp">
                <img src="~/img/profile-logo.png"
                     class="dpicn hover-pointer"
                     alt="dp">
            </div>
            <div class="dropdown">
                <ul>
                    <li>
                        <i class="fa-solid fa-user"></i> <a href="#">Profile</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-star"></i> <a href="#">Reviews</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a asp-action="SignOutUser" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
