@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen


@section styles {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
}

@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}
<div>
    @Html.AntiForgeryToken()
</div>

<div class="login-main-split">
   <input type = "hidden" id="hiddenOTP"/>
    <div class="login-left-panel">
        <div class="login-quote-bg"></div>
    </div>
    <div class="login-right-panel">
        <div class="login-form-card">
            <img src="~/img/bb_logo_cream.png" class="login-logo" style="width: 120px;" alt="logo">
            <h2 class="form-title" style="font-size: 22px">
                Sign In To <br /> <span class="title-highlight">BasaBuzz</span>
            </h2>
            <form method="post" action="/Account/Login" id="loginForm">
                <div class="form-group">
                    <label class="form-label" for="form2Example11">Email</label>
                    <input type="text" id="form2Example11"
                           class="form-control-custom"
                           asp-for="UserId" placeholder="Enter email here" />
                    <span asp-validation-for="UserId" class="error-message"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="form2Example22">Password</label>
                    <div class="input-group-with-icon">
                        <input type="password" id="form2Example22"
                               class="form-control-custom"
                               asp-for="Password" placeholder="********" />
                        <span class="toggle-password" onclick="togglePasswordVisibility(this)">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Password" class="error-message"></span>
                </div>
                <div class="forgot-password-link">
                <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">
                    Forgot Password?
                </a>
                </div>
                <button class="login-btn" type="submit">Sign In</button>
                <div class="signup-section">
                    Don't have an account? <a href="/Account/Register" class="signup-section-link">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content forgot-modal-content">
            <form method="post" id="forgotPasswordForm">
                <div class="mb-3">
                    <img src="~/img/bb_logo_white.png" alt="Logo" class="mx-auto d-block" style="width: 110px;" />
                </div>

                <h2 class="forgot-modal-title">Forgot Password</h2>
                <p class="forgot-modal-desc">
                    Recover your password if you have forgot the password!
                </p>

                <div class="mb-4">
                    <label for="forgotInput" class="forgot-label">Email</label>
                    <input type="email" class="form-control forgot-input"
                           id="forgotInput" name="Identifier" placeholder="Enter your email here..." required>
                </div>

                <div class="d-grid mb-4">
                    <button type="submit" id = "sendCodeForgotPassword" class="btn forgot-btn">
                        Send Code
                    </button>
                </div>

				<a href="#"
				   class="forgot-back-link"
				   onclick="
				   $('#codeVerificationModal').modal('hide');
				   $('#forgotInput, #verificationCodeInput, #newPasswordInput, #confirmPasswordInput').val('');
				   localStorage.removeItem('otpMessage');
				   setTimeout(()=>
					window.location.href = '/Account/Login', 200);
					return false;
					">
					&lt; Back to Login
				</a>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="codeVerificationModal" tabindex="-1" aria-labelledby="codeVerificationModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content verification-modal-content">
            <form id="verifyEmailForm">
                <div class="mb-3">
                    <img src="~/img/bb_logo_white.png" alt="Logo" class="mx-auto d-block" style="width: 110px;" />
                </div>

                <h2 class="forgot-modal-title">Enter Verification Code</h2>
                <p class="forgot-modal-desc">
                    A verification code has been sent to your email. Please enter it below.
                </p>

                <div class="mb-4">
                    <label for="verificationCodeInput" class="forgot-label">Verification Code</label>
                    <input type="text" class="form-control verification-input"
                           id="verificationCodeInput" name="VerificationCode" placeholder="Enter code" required>
                </div>

                <div class="d-grid mb-4">
                    <button type="submit" class="verification-btn" id="verifyCodeButton">
                        Verify Code
                    </button>
                </div>

				<a href="#"
				   class="forgot-back-link"
				   onclick="
				   $('#codeVerificationModal').modal('hide');
				   $('#forgotInput, #verificationCodeInput, #newPasswordInput, #confirmPasswordInput').val('');
				   localStorage.removeItem('otpMessage');
				   setTimeout(()=>
					window.location.href = '/Account/Login', 200);
					return false;
					">
					&lt; Back to Login
				</a>


            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newPasswordModal" tabindex="-1" aria-labelledby="newPasswordModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content verification-modal-content">
            <form id="newPasswordForm">
                <div class="mb-4">
                    <img src="~/img/bb_logo_white.png" alt="Logo" class="mx-auto d-block" style="width: 110px;" />
                </div>

                <h2 class="forgot-modal-title">Enter New Password</h2>
                <p class="forgot-modal-desc">
                    Please provide new password!
                </p>

                <div class="mb-4">
                    <label for="newPasswordInput" class="forgot-label">New Password</label>
                    <input type="password" class="form-control verification-input"
                           id="newPasswordInput" name="NewPassword" placeholder="Enter new password" required>
                </div>

                <div class="mb-4">
                    <label for="confirmPasswordInput" class="forgot-label">Confirm Password</label>
                    <input type="password" class="form-control verification-input"
                           id="confirmPasswordInput" name="ConfirmPassword" placeholder="Confirm password" required>
                </div>

                <div class="d-grid mb-4">
                    <button type="submit" class="verification-btn" id="newPasswordButton">
                        Submit
                    </button>
                </div>
				<a href="#"
				   class="forgot-back-link"
				   onclick="
				   $('#codeVerificationModal').modal('hide');
				   $('#forgotInput, #verificationCodeInput, #newPasswordInput, #confirmPasswordInput').val('');
				   localStorage.removeItem('otpMessage');
				   setTimeout(()=>
					window.location.href = '/Account/Login', 200);
					return false;
					">
					&lt; Back to Login
				</a>


            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    function togglePasswordVisibility(toggleSpanElement) {
        const passwordField = document.getElementById('form2Example22');
        const toggleIcon = toggleSpanElement.querySelector('i');

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            toggleIcon.classList.remove('fa-eye-slash');
            toggleIcon.classList.add('fa-eye');
        } else {
            passwordField.type = 'password';
            toggleIcon.classList.remove('fa-eye');
            toggleIcon.classList.add('fa-eye-slash');
        }
    }

    function showVerificationModal() {
        $('#forgotPasswordModal').modal('hide');
        $('#codeVerificationModal').modal('show');
    }

    function showForgotPasswordModal() {
        $('#codeVerificationModal').modal('hide');
        $('#forgotPasswordModal').modal('show');
    }

    function showNewPasswordModal() {
        $('#codeVerificationModal').modal('hide');
        $('#newPasswordModal').modal('show');
    }

     
</script>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @* <script>
        function dismissModalCompletely(modalId) {
            const modalElement = document.getElementById(modalId);
            const modal = bootstrap.Modal.getInstance(modalElement);
             
            if (modalId === 'codeVerificationModal' || modalId === 'newPasswordModal') {
                localStorage.removeItem('otpMessage');
                localStorage.removeItem('resetEmail'); 
            }

            if (modalId === 'forgotPasswordModal') {
                forgotPasswordForm.reset();
            } else if (modalId === 'codeVerificationModal') {
                verifyEmailForm.reset();
            } else if (modalId === 'newPasswordModal') {
                newPasswordForm.reset();
            }

            modal.hide();

            setTimeout(() => {
                document.querySelectorAll('.modal-backdrop').forEach(el => el.remove());
                document.body.classList.remove('modal-open');
                document.body.style.overflow = '';
                document.body.style.paddingRight = '';
            }, 100);
        }
    </script> *@
    <script>
        $(document).ready(function() {
             toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "3000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut",
                        "opacity": 0.8
                    };
            
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage && errorMessage !== '') {
                toastr.error(errorMessage);
            }

            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage && successMessage !== '') {
                toastr.success(successMessage);
            }

            $('#forgotPasswordModal').on('hidden.bs.modal', function () {
                forgotPasswordForm.reset();
            });

            $('#codeVerificationModal').on('hidden.bs.modal', function () {
                verifyEmailForm.reset();
            });

            $('#newPasswordModal').on('hidden.bs.modal', function () {
                newPasswordForm.reset();
            });
        });
    </script>
    <script type ="module">
        const sendCodeForgotPassword = document.getElementById("sendCodeForgotPassword");
        const forgotInput = document.getElementById("forgotInput");
        const forgotPasswordForm = document.getElementById("forgotPasswordForm");

        const verifyEmailForm = document.getElementById("verifyEmailForm");
        const verificationCodeInput = document.getElementById("verificationCodeInput");
        const verifyCodeButton = document.getElementById("verifyCodeButton");

        const newPasswordForm = document.getElementById("newPasswordForm");
        const newPasswordInput = document.getElementById("newPasswordInput");
        const confirmPasswordInput = document.getElementById("confirmPasswordInput");
        const newPasswordButton = document.getElementById("newPasswordButton");

        function isValidPassword(password) {
            const passwordPattern = /^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$/;
            return passwordPattern.test(password);
        }


        function showVerificationModal() {
            $('#forgotPasswordModal').modal('hide');
            $('#codeVerificationModal').modal('show');
        }

        function showNewPasswordModal() {
            $('#codeVerificationModal').modal('hide');
            $('#newPasswordModal').modal('show');
        }

        forgotPasswordForm.addEventListener("submit", async function (event) {
            event.preventDefault();

            if (!forgotInput.checkValidity()) {
                forgotInput.reportValidity();
                return;
            }


            if (sendCodeForgotPassword) {
                sendCodeForgotPassword.disabled = true;
                sendCodeForgotPassword.textContent = 'Sending...';
            }

            try {
                const email = forgotInput.value.trim();
                const response = await fetch('/Account/ForgotPassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ Email: email })
                });

                const result = await response.json();

                if (response.ok) {
                    localStorage.setItem('otpMessage', result.message);
                    localStorage.setItem('resetEmail', email); 
                    toastr.success("Verification code sent to your email.");
                    showVerificationModal();
                } else {
                    toastr.error(result.message);
                }
            } catch (backendError) {
                toastr.error("An unexpected error occurred. Please try again later.");
            }
            finally {
                if (sendCodeForgotPassword) {
                    sendCodeForgotPassword.disabled = false;
                    sendCodeForgotPassword.textContent = 'Send Code';
                }
            }
        });

        verifyEmailForm.addEventListener("submit", async function (event) {
            event.preventDefault();

            if (!verificationCodeInput.checkValidity()) {
                verificationCodeInput.reportValidity();
                return;
            }

            if (localStorage.getItem('otpMessage') == verificationCodeInput.value.trim()){
                showNewPasswordModal();
            }
            else{
                toastr.error("Invalid verification code");
            }

        })

        newPasswordForm.addEventListener("submit", async function (event) {
            event.preventDefault();

            if (!newPasswordInput.checkValidity()) {
                newPasswordInput.reportValidity();
                return;
            }

            if (!confirmPasswordInput.checkValidity()) {
                confirmPasswordInput.reportValidity();
                return;
            }
            if (!isValidPassword(newPasswordInput.value.trim())) {
                toastr.error("Password must be at least 8 characters and contain at least one uppercase letter, one number and one special character.");
                return;
            }

            if (newPasswordInput.value.trim() != confirmPasswordInput.value.trim()) {
                toastr.warning("Passwords do not match");
                return;
            }

            if (newPasswordButton) {
                newPasswordButton.disabled = true;
                newPasswordButton.textContent = 'Processing...';
            }

            try {
                const email = localStorage.getItem('resetEmail'); 
                if (!email) {
                    toastr.error("Email not found. Please start the password reset process again.");
                    return;
                }

                const response = await fetch('/Account/NewPassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        Email: email,
                        Password: newPasswordInput.value.trim()
                    })
                });

                const result = await response.json();

                if (response.ok) {
                    toastr.success(result.message);
                    
                    localStorage.removeItem('resetEmail');
                    localStorage.removeItem('otpMessage');
                    setTimeout(() => {
                        $('#newPasswordModal').modal('hide');
						window.location.href = '/Account/Login';
                    }, 1500);
                } else {
                    toastr.error(result.message);
                }
            } catch (backendError) {
                toastr.error("An unexpected error occurred. Please try again later.");
            }
            finally {
                if (newPasswordButton) {
                    newPasswordButton.disabled = false;
                    newPasswordButton.textContent = 'Submit';
                }
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
}