@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ASI.Basecode.Data.Models.Book
@{
    ViewData["Title"] = "Book Details";
}
@{
}

        <h1 class="add-book-form-title">Book Detials</h1>

        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="Title" required asp-for="Title">
        </div>
        <div>
            <label for="subtitle">Subtitle:</label>
            <input type="text" id="subtitle" name="Subtitle" asp-for="Subtitle">
        </div>
        <div>
            <label for="publicationDate">Publication Date:</label>
            <input type="date" id="publicationDate" name="PublicationDate" asp-for="PublicationDate">
        </div>
        <div>
            <label for="publisher">Publisher:</label>
            <input type="text" id="publisher" name="Publisher" asp-for="Publisher">
        </div>
        <div>
            <label for="publicationLocation">Publication Location:</label>
            <input type="text" id="publicationLocation" name="PublicationLocation" asp-for="PublicationLocation">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="Description" asp-for="Description"></textarea>
        </div>
        <div>
            <label for="numberOfPages">Number of Pages:</label>
            <input type="number" id="numberOfPages" name="NumberOfPages" asp-for="NumberOfPages">
        </div>
        <div>
            <label for="language">Language:</label>
            <input type="text" id="language" name="Language" asp-for="Language">
        </div>
        <div>
            <label for="seriesName">Series Name:</label>
            <input type="text" id="seriesName" name="SeriesName" asp-for="SeriesName">
        </div>
        <div>
            <label for="seriesOrder">Series Order:</label>
            <input type="number" id="seriesOrder" name="SeriesOrder" asp-for="SeriesOrder">
        </div>
        <div>
            <label for="isbn10">ISBN10:</label>
            <input type="text" id="isbnten" name="ISBN10" asp-for="ISBN10">
        </div>
        <div>
            <label for="isbn13">ISBN13:</label>
            <input type="text" id="isbnthitheen" name="ISBN13" asp-for="ISBN13">
        </div>
        <div>
            <label for="edition">Edition:</label>
            <input type="text" id="edition" name="Edition" asp-for="Edition">
        </div>
        <div>
            <label for="seriesDescription">Series Description:</label>
            <textarea id="seriesDescription" name="SeriesDescription" asp-for="SeriesDescription"></textarea>
        </div>
        <div>
            <label for="author">Author (comma-separated):</label>
            <input type="text" id="author" name="Author" asp-for="Author">
        </div>


        <h3>Cover Image Upload</h3>
        <div>
            <label for="coverImageFile">Select Cover Image:</label>
            <input type="file" id="coverImageFile" accept="image/*"> <p id="coverUploadStatus" style="color: gray;"></p>
        <input type="hidden" id="coverImageUrl" name="CoverImageUrl" asp-for="CoverImageUrl">
        </div>

        <h3>Book File Upload (e.g., PDF)</h3>
        <div>
            <label for="bookFile">Select Book File:</label>
            <input type="file" id="bookFile" accept=".pdf,.epub"> <p id="bookFileUploadStatus" style="color: gray;"></p>
        <input type="hidden" id="bookFileUrl" name="BookFileUrl" asp-for="BookFileUrl">
        </div>

        <button type="submit">Edit Book</button>
