.footer {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative !important;
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    width: 100%;
    line-height: 12px;
    vertical-align: middle;
    bottom: 0;
    padding: 1rem 0;
    font-size: 0.9em;
    text-align: center;
}
