/*.footer 
{
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative !important;
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    width: 100%;
    line-height: 12px;
    vertical-align: middle;
    bottom: 0;
    padding: 1rem 0;
    font-size: 0.9em;
    text-align: center;
}
*/

/* --- Footer Styles --- */
.site-footer 
{
    background-color: #3E4F4E;
    color: #E0E0E0;
    padding-bottom: 5px;
    position: relative;
    padding-top: 5px;
}

.top-border 
{
    height: 2px; 
    background-color: #7B68EE;
    margin-bottom: 5px; 
}

.site-footer .container-footer .row 
{ 
    height: 100px;
    width: 100%;
    padding: 30px;
    padding-bottom: 80px;
    padding-top: 20px; 
}


/* Left Section */
.footer-left-section 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-us-heading 
{
    font-size: 1em;
    color: #E0E0E0;
    margin-bottom: 8px; 
    padding-left: 75px;
}

.social-icons-container 
{
    display: flex;
    gap: 20px; 
}

.social-icon-circle 
{
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E0E0E0;
    font-size: 0.9em; 
    transition: all 0.3s ease;
    text-decoration: none;
}

    .social-icon-circle:hover 
    {
        background-color: #7B68EE;
        border-color: #7B68EE;
        color: #FFFFFF;
    }

/* Middle Section */
.footer-middle-section 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

.product-of-text 
{
    font-size: 0.8em; 
    color: #C0C0C0;
    margin-bottom: 2px;
}

.product-logo 
{
    max-width: 80px;
    height: auto;
    filter: brightness(0) invert(1);
}

/* Right Section */
.footer-right-section 
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%; 
}

.copyright-text 
{
    font-size: 0.8em; 
    color: #E0E0E0;
}


@media (max-width: 767.98px) 
{
    .footer-left-section,
    .footer-middle-section,
    .footer-right-section 
    {
        text-align: center !important;
        align-items: center !important;
        margin-bottom: 10px;
    }


    .footer-right-section 
    {
        margin-bottom: 0;
    }

    .social-icons-container 
    {
        justify-content: center;
        margin-top: 5px;
    }
}