
.edit-user-container,
.add-user-container 
{
    transition: margin-left 0.3s ease-in-out;
}

.admin-common-content-wrapper 
{
    padding: 3rem; 
}

.add-user-form 
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    margin: 0;
    height: 100%;
}

.form-content 
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: auto;
}

.form-row 
{
    display: flex;
    gap: 3rem; 
    margin-bottom: 2rem; 
}

.form-group 
{
    flex: 1;
    min-width: 0; 
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"] 
{
    width: 100%;
    padding: 0.5rem; 
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.upload-section 
{
    margin-bottom: 1rem;
    align-self: start;
    width: 50%;
}

.upload-input 
{
    position: relative;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.file-display 
{
    flex: 1;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
    background: #fff;
}

input[type="file"] 
{
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.browse-btn 
{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #647D7F;
    color: white;
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
}

.file-instructions 
{
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    color: #666;
    margin-top: 0.5rem;
}

.file-info 
{
    display: flex;
    flex-direction: row;
    gap: 0.15rem; 
    justify-content: space-between;
    margin-bottom: 0.5rem; 
}

.file-info small 
{
    color: #666;
    font-size: 12px;
}

.button-group 
{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem; 
    padding-bottom: 0; 
}

.cancel-btn 
{
    padding: 0.50rem 1.5rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.submit-btn 
{
    padding: 0.50rem 1.5rem;
    background: #647D7F;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 785px) 
{
    .form-row 
    {
        flex-direction: column;
        gap: 1rem;
    }

    .content-wrapper 
    {
        padding: 1.5rem;
    }

    .button-group 
    {
        flex-direction: column;
    }

    .button-group button 
    {
        width: 100%;
    }

    .edit-user-container,
    .add-user-container 
    {
        margin-left: 0;
        padding: 1rem;
    }
}
